<!-- contents  -->
<div class="grid-container">
  <div class="item1">
    <!-- Navigation Header Bar  -->
    <igx-navbar title="Home Shell uFE App">
      <igx-icon>group_work</igx-icon>
      <igx-icon>invert_colors</igx-icon>
      <igx-icon (click)="dialog.open()">send_and_archive</igx-icon>
    </igx-navbar>
  </div>
  <div class="item3"><app-app01></app-app01></div>
  <div class="item4"><app-app02></app-app02></div>
  <div class="item5">Footer</div>
</div>

<!-- Dialog window -->
<igx-dialog
  #dialog
  title="Confirmation"
  leftButtonLabel="Cancel"
  (leftButtonSelect)="dialog.close()"
  rightButtonLabel="OK"
  (rightButtonSelect)="onDialogOKSelected($event)"
  message="Are you sure you want to delete the Annual_Report_2016.pdf and Annual_Report_2017.pdf files?"
>
</igx-dialog>
